B2B_API_URL=https://b2b.prestigevoyage.uz/api/air
B2B_LOGIN_URL=https://b2b.prestigevoyage.uz/login
B2B_LOGIN_PATH=/login
B2B_LOGIN_USERNAME_FIELD=login
B2B_LOGIN_PASSWORD_FIELD=password
B2B_LOGIN_EXTRA_BODY=
B2B_TOKEN=
NEXT_PUBLIC_DEFAULT_CARRIER=HY
B2B_ETM_AUTH_KEY=
B2B_SESSION_COOKIE=
