B2B_API_URL=https://b2b.prestigevoyage.uz/api/air
B2B_LOGIN_URL=https://b2b.prestigevoyage.uz/login
B2B_LOGIN_PATH=/login
B2B_LOGIN_USERNAME_FIELD=login
B2B_LOGIN_PASSWORD_FIELD=password
B2B_LOGIN_EXTRA_BODY=
B2B_TOKEN=
NEXT_PUBLIC_DEFAULT_CARRIER=HY
B2B_ETM_AUTH_KEY=
B2B_SESSION_COOKIE=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
